/**
*
* COLORS
*
**/
$primary-dark: material-color('deep-purple', '700');
$primary:material-color('deep-purple', '500');
$primary-light:material-color('deep-purple', '200');
$text:#FFFFFF;
$accent:material-color('pink', '500');
$primary-text:#212121;
$secondary-text:#757575;
$divider:rgba(0,0,0,.1);
$bg-color:#e6e6e6;
$bg-card:#fafafa;
$success:#4CAF50;
$danger:#F44336;
$warning:#FF9800;